.projects-list {
  .card {
    margin: 1rem auto;
    .card-header {
      img {
        max-width: 50px;
        max-height: 50px;
        background-color: rgb(94, 158, 231);
        padding: 0.25rem;
        margin: 0.25rem;
        border-radius: 0.25rem;
      }
    }
  }
}