@import '../../Styles/variables.scss';

.footer {
  background-color: rgb(94, 158, 231);
  min-height: $min-footer-height;
  line-height: $min-footer-height;
  color: white;
  font-size: 0.8rem;

  a {
    color: white;
    text-decoration: none;

    &:hover {
      color: rgb(175, 175, 175);
    }

    &:visited {
      color: white;
    }
  }
}