.containers-table {
  .no-wrap {
    white-space: nowrap;
  }
  .command {
    font-family: monospace;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 250px;
    padding: 4px 8px;
    border-radius: 3px;
    background-color: #313131;
    color: #a5a5a5;
  }
  .ports {
    display: flex;
    align-items: center;
    .port-type {
      font-family: monospace;
      font-size: 0.7rem;
      padding: 4px 8px;
      border-radius: 3px;
      background-color: #313131;
      color: #a5a5a5;
      margin-right: 2px;
    }
    svg {
      margin: 0 2px;
    }
  }
  .container-properties {
    display: inline-block;
    margin: 0 2px;
    padding: 5px;
    color: white;
    background-color: #313131;
    border-radius: 5px;
    min-width: 36px;
  }
}