header {
  min-height: 76px;
  background-color: rgb(94, 158, 231);

  .brand-icon {
    width: 50px;
    margin-right: 10px;
  }

  a {
    color: white;

    &:hover {
      color: rgb(175, 175, 175);
    }

    &:visited {
      color: white;
    }
  }
}
