.project-logs {
  pre {
    background-color: #313131;
    color: #a5a5a5;
    padding: 0.25rem 1.5rem;
    border-radius: 0.25rem;
    white-space: pre-wrap;
    word-wrap: break-word;
    min-height: 500px;
  }
}